.task {
  margin: 1rem 2rem;
  padding: 0.5rem;
  background-color: #20212c;
  border-radius: 1.5rem;
  display: flex;
  transition-duration: 500ms;
}

.task h1 {
  font: inherit;
  margin-left: 0.6rem;
  font-size: 1.5rem;
}

.task:hover {
  background-color: #42445c;
}
.btn {
  padding: 0.3rem 1rem;
  border-radius: 1.5rem;
  scale: 80%;
  border: 3px solid #fb76a1;
  background-color: #20212c;
  cursor: pointer;
  transition-duration: 0.08s;
}
.btn:hover {
  cursor: pointer;
  background: #fb76a1;
}
.btn:active {
  transform: scale(0.8);
}
.btn:hover .addIcon svg {
  stroke: #20212c;
}
@media screen and (max-width: 480px) and (hover: hover) {
  .task {
    margin: 0rem 2rem;
    padding: 0.5rem;
    background-color: #20212c;
    border-radius: 1.5rem;
    display: flex;
    transition-duration: 500ms;
  }

  .task h1 {
    font: inherit;
    margin-left: 0.6rem;
    font-size: 1rem;
  }

  .task:hover {
    background-color: #42445c;
  }
  .btn {
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    scale: 80%;
    border: 3px solid #fb76a1;
    background-color: #20212c;
    cursor: pointer;
    transition-duration: 0.08s;
  }
  .btn:hover {
    cursor: pointer;
    background: #fb76a1;
  }
  .btn:active {
    transform: scale(0.8);
  }
  .btn:hover .addIcon svg {
    stroke: #20212c;
  }
}
