.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container {
  margin: 1rem;
  padding: 1rem;
}

.btn {
  padding: 1rem;
  border-radius: 1.2rem;
  border: 3px solid #fb76a1;
  background: #20212c;
  cursor: pointer;
  transition-duration: 500ms;
  color: #fb76a1;
}
.btn:hover {
  cursor: pointer;
  background: #fb76a1;
  color: #20212c;
}
.demo-btn {
  padding: 1rem;
}
.clear-btn {
  padding: 1rem;
}
@media screen and (max-width: 480px) and (hover: hover) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h1 {
    font-size: 1rem;
  }
  .btn-container {
    margin: 1rem;
    padding: 1rem;
  }

  .btn {
    padding: 0.5rem;
    border-radius: 1.2rem;
    border: 3px solid #fb76a1;
    background: #20212c;
    cursor: pointer;
    transition-duration: 500ms;
    color: #fb76a1;
    font-size: 0.7rem;
  }
  .btn:hover {
    cursor: pointer;
    background: #fb76a1;
    color: #20212c;
  }
}
