.done {
  background-color: #20212c;
  list-style: none;
  padding: 1rem;
  margin: 1rem 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition-duration: 500ms;
  text-decoration: line-through #000000;
  text-decoration-thickness: 2px;
}
.done:hover {
  background-color: #42445c;
}
.done h1 {
  font-size: 1.4rem;
}
.done button {
  margin: 1rem;
  padding: 0.3rem 0.4rem;
  border-radius: 1.05rem;
  border: 3px solid #fb76a1;
  background: #20212c;
  cursor: pointer;
  transition-duration: 500ms;
}
.check {
  flex-shrink: 0;
}
.done button:hover {
  cursor: pointer;
  background: #fb76a1;
}

.done button:hover .icon svg {
  stroke: #20212c;
}
@media screen and (max-width: 480px) and (hover: hover) {
  .done {
    background-color: #20212c;
    list-style: none;
    padding: 0.5rem;
    margin: 1rem 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition-duration: 500ms;
    text-decoration: line-through #000000;
    text-decoration-thickness: 2px;
  }
  .done:hover {
    background-color: #42445c;
  }
  .done h1 {
    font-size: 1rem;
  }
  .done button {
    margin: 0.5rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.7rem;
    border: 3px solid #fb76a1;
    background: #20212c;
    cursor: pointer;
    transition-duration: 500ms;
  }
  .check {
    flex-shrink: 0;
  }
  .done button:hover {
    cursor: pointer;
    background: #fb76a1;
  }

  .done button:hover .icon svg {
    stroke: #20212c;
  }
}
