.taskform {
  margin: 0 1rem;
  background-color: #20212c;
  padding: 0.5rem;
  border-radius: 1.5rem;
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
}
.taskform label {
  display: block;
  margin: 1rem;
}
.taskform:hover {
  background-color: #42445c;
}
.input-button {
  display: flex;
}
.input-container input {
  width: 20rem;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: #606276;
  border: none;
  margin: 0.5rem;
  color: white;
  font-size: 1rem;
  outline: none;
  font: inherit;
  min-height: 0;
}

.btn-container button {
  margin: 0.5rem;
  padding: 0.4rem;
  border-radius: 1.05rem;
  border: 3px solid #fb76a1;
  background: #20212c;
  cursor: pointer;
  transition-duration: 500ms;
  bottom: 4%;
}
.btn-container button:hover {
  cursor: pointer;
  background: #fb76a1;
}
.btn-container button:hover .icon svg {
  stroke: #20212c;
}
@media screen and (max-width: 480px) and (hover: hover) {
  .taskform {
    margin: 0 1rem;
    background-color: #20212c;
    padding: 0.5rem;
    border-radius: 1.5rem;
    transition-duration: 500ms;
    display: flex;
    flex-direction: column;
  }
  .taskform label {
    display: block;
    margin: 0.5rem;
  }
  .taskform:hover {
    background-color: #42445c;
  }
  .input-button {
    display: flex;
  }
  .input-container input {
    width: 17rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    background-color: #606276;
    border: none;
    margin: 0.5rem;
    color: white;
    font-size: 1rem;
    outline: none;
    font: inherit;
  }

  .btn-container button {
    margin: 0.5rem;
    padding: 0.4rem;
    padding: 0.15rem;
    border-radius: 0.7rem;
    border: 3px solid #fb76a1;
    background: #20212c;
    cursor: pointer;
    transition-duration: 500ms;
    bottom: 4%;
  }
  .btn-container button:hover {
    cursor: pointer;
    background: #fb76a1;
  }
  .btn-container button:hover .icon svg {
    stroke: #20212c;
  }
}
