.listItem {
  background-color: #20212c;
  list-style: none;
  padding: 1rem;
  margin: 1rem 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition-duration: 500ms;
  flex-grow: 1;
}
.listItem:hover {
  background-color: #42445c;
}
.text {
  overflow-wrap: break-word;
  width: 60%;
  height: auto;
}
.listItem h1 {
  font-size: 1.4rem;
}
.listItem button {
  margin: 1rem;
  padding: 0.3rem 0.4rem;
  border-radius: 1.05rem;
  border: 3px solid #fb76a1;
  background: #20212c;
  cursor: pointer;
  transition-duration: 500ms;
}
.check {
  flex-shrink: 0;
}
.listItem button:hover {
  cursor: pointer;
  background: #fb76a1;
}
.listItem button:hover .icon svg {
  stroke: #20212c;
}

@media screen and (max-width: 480px) and (hover: hover) {
  .listItem {
    background-color: #20212c;
    list-style: none;
    padding: 0.5rem;
    margin: 1rem 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition-duration: 500ms;
    flex-wrap: nowrap;
    flex-grow: 1;
  }
  .text {
    overflow-wrap: break-word;
    width: 60%;
    height: auto;
  }
  .listItem h1 {
    font-size: 1rem;
  }
  .listItem button {
    margin: 0.5rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.7rem;
    border: 3px solid #fb76a1;
    background: #20212c;
    cursor: pointer;
    transition-duration: 500ms;
  }
  .check {
    flex-shrink: 0;
  }
  .listItem button:hover {
    cursor: pointer;
    background: #fb76a1;
  }
  .listItem button:hover .icon svg {
    stroke: #20212c;
  }
}
