.taskList {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition-duration: 500ms;
  flex-grow: 1;
  min-height: 9rem;
  margin: 0;
}
.taskList-remove {
  position: absolute;
}

.task-divider {
  display: flex;
}
.task-divider hr {
  flex-grow: 1;
  margin: auto;
  border: 1px solid #42445c;
  margin-right: 2rem;
}
.taskCount {
  margin: 1rem 2rem;
}
@media screen and (max-width: 480px) {
  .taskList {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition-duration: 500ms;
    flex-grow: 1;
    min-height: 9rem;
  }
  .taskList-remove {
    position: absolute;
  }

  .task-divider {
    display: flex;
  }
  .task-divider hr {
    flex-grow: 1;
    margin: auto;
    border: 1px solid #42445c;
    margin-right: 2rem;
  }
  .taskCount {
    margin: 1rem 2rem;
  }
}
