.completed {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition-duration: 500ms;
  flex-grow: 1;
  min-height: 9rem;
}
.completed-remove {
  position: absolute;
}
.completed-divider {
  display: flex;
}

.doneCount {
  margin: 1rem 2rem;
  position: relative;
}
.completed-divider hr {
  flex-grow: 1;
  margin: auto;
  border: 1px solid #42445c;
  margin-right: 2rem;
}
@media screen and (max-width: 480px) {
  .completed {
    margin-bottom: 1rem;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition-duration: 500ms;
    flex-grow: 1;
    min-height: 9rem;
  }
  .completed-remove {
    position: absolute;
  }
  .completed-divider {
    display: flex;
  }

  .doneCount {
    margin: 1rem 2rem;
    position: relative;
  }
}
