@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: auto;
  background-color: #17181f;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
